<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <table class="table table-bordered table-inverse">
      <thead class="thead-inverse">
      <tr>
        <th>Paypal login</th>
        <th>Password</th>
        <th>Description</th>
        <th>Environment</th>
      </tr>
      </thead>
      <tbody>
      <% @paypal_accounts.each do |paypal_account| %>
          <tr>
            <td scope="row"><%= paypal_account.user_name %></td>
            <td><%= paypal_account.password %></td>
            <td><%= paypal_account.notes %></td>
            <td><%= paypal_account.environment.name %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-1"></div>
</div>