
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-6">
      <div class="logo">
        <p>Work in progress ...</p>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>