<% @title="Poseidon - Environments" %>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10 apple_pagination">
    <table class="table table-bordered table-striped table-hover table-sm">
      <thead class="thead-inverse">
      <tr>
        <th>Environment</th>
        <th>URL</th>
        <th>Is_prod_data?</th>
      </tr>
      </thead>
      <tbody>
      <% @environments.each do |environment| %>
          <tr>
            <td scope="row">
              <div style="height: 50px; overflow:auto;">
                <%= environment.name %>
              </div>
            </td>
            <td><%= environment.url %></td>
            <td><%= environment.is_prod_data %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-1"></div>
</div>