<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <table class="table table-bordered table-inverse">
      <thead class="thead-inverse">
      <tr>
        <th>BSB</th>
        <th>Account Number</th>
        <th>Description</th>
        <th>Environment</th>
      </tr>
      </thead>
      <tbody>
      <% @direct_debits.each do |direct_debit| %>
          <tr>
            <td scope="row"><%= direct_debit.bsb %></td>
            <td><%= direct_debit.account_number %></td>
            <td><%= direct_debit.notes %></td>
            <td><%= direct_debit.environment.name %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-1"></div>
</div>